@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Muli", sans-serif;
  background-color: rgba(212, 211, 211, 0.877);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.container {
  text-align: center;
}
h3 {
  margin: auto 0 30px auto;
}
textarea {
  border: none;
  display: block;
  /* margin: 20px; */
  padding: 20px;
  font-size: 15px;
}
textarea:active {
  outline: 0;
}
.tag {
  background-color: #f0932b;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 10px 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}

.tag.highlight {
  background-color: #273c75;
}
